# Xcode
DerivedData/
*.xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata

# Build products
build/
*.ipa
*.dSYM

# Swift Package Manager
Packages/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Firebase secrets
GoogleService-Info.plist

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
